body {
  /*background-image: url("images/black.jpg");
  background-size: cover;*/
  margin: 0;
  padding: 0;
  background-color: rgb(58, 56, 56);

}

.main{
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}
#header{
  text-align: center;
  color: white;
  background-color: rgb(31, 31, 31);
  font-size: 40px;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  margin: 0;
}

.buttons{
  
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  }

button {
  background-color: white;
  border-radius: 5px;
}

#result {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aliceblue;
}

.scores {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aliceblue;
} 

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
}